.green {
  color: green;
}

.red {
  color: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio, .forecast-table {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7em;
}

.forecast-table {
  width: 34%;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 0px 9px 5px grey;
}

.portfolio .header-row,
.portfolio .stock-row,
.portfolio .add-row,
.forecast-table .forecast-header-row,
.forecast-table .forecast-row {
  display: flex;
}

.portfolio .header-row, .forecast-table .forecast-header-row {
  background: rgb(187, 221, 255);
}

.stock-row:hover > .stock,
.forecast-row:hover > .forecast {
  background: #9E9E9E;
}

.portfolio .stock-row:nth-child(even),
.forecast-table .forecast-row:nth-child(even)  {
  background: white;
}

.portfolio .stock-row:nth-child(odd),
.forecast-table .forecast-row:nth-child(odd) {
  background: rgb(218, 222, 226);
}

.stock {
  width: 10%;
  border: solid 1px white;
  padding: 0.3em;
}

.stock.action {
  width: 5%;
}

.forecast {
  width: 45%;
  border: solid 1px white;
  padding: 0.3em;
}

.forecast.year {
  width: 10%;
}

.portfolio .stock-row .stock.action, .portfolio .add-row .stock.action {
  font-size: 1.3em;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  cursor: pointer;
}

.add-row input[type="text"] {
  width: 50%;
}

button.submit {
  font-size: 1em;
  border: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.29);
}
