.green {
  color: green;
}

.red {
  color: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7em;
}

.portfolio .header-row, .portfolio .stock-row, .portfolio .add-row {
  display: flex;
}

.portfolio .header-row {
  background: rgba(0, 128, 255, 0.2);
}

.stock-row:hover > .stock {
  background: #9E9E9E;
}

.portfolio .stock-row:nth-child(even) {
  background: white;
}

.portfolio .stock-row:nth-child(odd) {
  background: rgba(112, 128, 144, 0.2);
}

.stock {
  width: 10%;
  border: solid 1px white;
  padding: 0.3em;
}

.stock.action {
  width: 5%;
}

.portfolio .stock-row .stock.action, .portfolio .add-row .stock.action {
  font-size: 1.3em;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  cursor: pointer;
}
